body {
    background-color: rgb(4, 1, 27);
}

.search-bar {
    width: 35rem;
    height: 35px;
    background-color: #F3EEE1;
    border-radius: 50px;
    padding-left: 15px;
    border-color: white;
}

.search-wrapper{
    border-width: 10px;
    border-color: #F3EEE1;
    background-color: #F3EEE1;
    padding: 4px;
    padding-bottom: 15px;
    border-radius: 25px 25px 0px 0px;
    color: #F3EEE1;
    text-emphasis-color: white;
}

.nav-bar {
    z-index: 9999;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    inset: 0% 0% auto;
    top: 1%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    border-radius: 50px;
    background-color: blanchedalmond;
    overflow: none;
}

.home-section {
    z-index: 0;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    overflow: none;
    background-image: url(../images/maclellan-bg.jpg);
}

.search-contents{
    width: 80%;
    height:80%;
    overflow: auto;
}

.search-button{
    border-radius: 50px;
    padding: 8px 16px 8px 16px;
    border-color: transparent;
    cursor: pointer;
    height: 100%;
    background-color: brown;
    color: #F3EEE1;
}

.nav-button{
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.random-pictures-temp-div{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    background-image: url(../images/maclellan-bg.jpg);
}