body {
    background-color: #161920;
}
  
.index-section {
    z-index: 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    overflow: none;
    background-image: url(../images/maclellan-bg.jpg);
}

.welcome-wrapper{
    z-index: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: none;
    color: white;
    width: 100%;
}

.enter-site-button {
    border-radius: 50px;
    padding: 8px 16px 8px 16px;
    border-color: transparent;
    background-color: #F3EEE1;
    color: #161920;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    position: relative; 
    z-index: 1;
}

