body {
    overflow:hidden;
}

.search-bar {
    width: 35rem;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50px;
    padding-left: 15px;
    border-color: rgba(255, 255, 255, 0.383);
    flex-grow: 1;
}

.search-wrapper{
    border-width: 10px;
    border-color: #666666;
    background-color: rgba(255, 235, 205, 0.388);
    padding: 4px;
    padding-bottom: 15px;
    border-radius: 25px 25px 0px 0px;
    color: #00000075;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 50px 5px;
    backdrop-filter: blur(5px);
    
}

.nav-bar {
    z-index: 9999;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    position: fixed;
    inset: 0% 0% auto;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(255, 235, 205, 0.388);
    backdrop-filter: blur(5px);
    color: #00000075;
    box-shadow: 0px 0px 50px 5px;
    overflow: none;
}

.home-section {
    z-index: 0;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    overflow: none;
    /* background-image: url(../images/maclellan-bg.jpg); */
}

.search-contents{
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 20px;
    position: relative;
}

.search-button{
    border-radius: 50px;
    padding: 8px 16px 8px 16px;
    border-color: transparent;
    cursor: pointer;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    color: #F3EEE1;
    margin-left: -50px;
    backdrop-filter: blur(51px);
}

.overfllow-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    display: none;
    
}

.nav-button{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    flex-grow: 1;
    background-color: transparent;
    border-color: transparent;
}

.random-pictures-temp-div{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    /* background-image: url(../images/maclellan-bg.jpg); */
}

.load-more-wrapper{
    height: 40px;
    position: relative;
    z-index: 1;
}

#load-more-button{
    background-color: transparent;
    padding: 5px;
}

.sign-out-button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.section-folders{
    width: 98%;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border-radius: 16px 16px 0px 0px;
    text-emphasis-color: black;
    
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.145);
    
    overflow: hidden;
    position: absolute;
    top: auto;
    left: 0%;
    bottom: 0%;
    right: 0%;
    z-index: 0;
    border-width: 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: whitesmoke;
    background-image: url('src/maclellen-bg.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
}


/* Moving Gradient Background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.moving-gradient {
    background: linear-gradient(-45deg, #8A2BE2, #4169E1, #9400D3, #1E90FF);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    
    width: 100%;
    height: 100%;
    
    /* Optional: Set minimum dimensions if applied to a container */
    min-height: 100vh;
}